# Ignorar archivos de entorno
.env


# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de compilación
__pycache__/
*.pyc

# Ignorar archivos de logs
*.log

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de dependencias
node_modules/

# Ignorar carpeta de imágenes
images/